.modal-delete {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, .12);

  &__centered {
    max-width: 540px;
    margin: auto;
    @include flex(flex, normal, center);
    min-height: calc(100% - (1.75rem * 2));
    
    .modal-content {
      background-color: $color-white;
      margin: auto;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 2px 6px rgba(0 ,0, 0, .38);
      width: 100%;
      outline: 0;
      padding: 28px;

      &__header {
        font-size: 18px;
        text-align: center;
        color: #000;
      }

      &__confirm {
        @include flex(flex, space-between, normal);
        font-size: 16px;
        vertical-align: middle;
        margin-top: 24px;
        cursor: pointer;
        
        &--cancel {
          @include flex(flex, center, normal);
          flex-basis: 46%;
          background: #e6e6e6;
          box-shadow: 0px 1px 4px #b7bcbd;
          border: 2px solid #e6e6e6;
          color: #333;
          text-align: center;
          padding: 8.5px 0;
          border-radius: 4px;
          margin-right: .25rem;
        }

        &--apply {
          @include flex(flex, center, normal);
          flex-basis: 46%;
          text-align: center;
          padding: 8.5px 0;
          border-radius: 4px;
          background: #2FB7ED;
          border: 2px solid #2FB7ED;
          color: $color-white;
          box-shadow: 0px 1px 4px #007eb0;
          line-height: 1;
        }
      }
    }
  }
}
