<div class="modal-delete d-none" id="modal-delete-post" data-controller="post">
  <div class="modal-delete__centered">
    <div class="modal-content">
      <div class="modal-content__header">
        <span>Bạn có chắc chắn xóa bài viết này?</span>
      </div>
      <div class="modal-content__confirm">
        <div class="modal-content__confirm--cancel" data-action="click->post#closeModal">
          <span>Hủy</span>
        </div>
        <div class="modal-content__confirm--apply" data-action="click->post#removePost">
          <span>Đồng ý</span>
        </div>
      </div>
    </div>
  </div>
</div>
