<div class="main__create-post">
  <div class="block-create">
    <div class="block-create__top">
      <%= link_to :back do %>
        <img src="<%= asset_path("icon/arrow-left.svg") %>" alt="icon-back">
      <% end %>
      <h2>Cập nhật danh mục</h2>
    </div>

    <%= render "form" %>
  </div>
</div>
