<div class="modal-delete d-none" id="modal-reply-comment" data-controller="comment">
  <div class="modal-delete__centered">
    <div class="modal-content">
      <div class="modal-content__header">
        <span>Chức năng đang được hoàn thiện @@</span>
      </div>
      <div class="modal-content__confirm">
        <div class="modal-content__confirm--cancel" data-action="click->comment#closeModalReply">
          <span>close</span>
        </div>
      </div>
    </div>
  </div>
</div>
