<div class="title-comment">Khu vực chém gió:</div>

<div id="comment-post-<%= post.id %>">
  <% if post.comments.present? %>
    <% post.comments.select_parent_comment.each do |comment|%>
      <%= render "client/comments/comment", comment: comment %>
    <% end %>
  <% end %>
</div>
